---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: kube-system
spec:
  repo: https://charts.longhorn.io
  chart: longhorn
  version: {{ longhorn.version }}
  targetNamespace: longhorn-system
  valuesContent: |-
    defaultSettings:
      defaultDataLocality: best-effort
      replicaAutoBalance: best-effort

    ingress:
      enabled: true
      ingressClassName: ~
      host: longhorn.kevintijssen.eu

    enablePSP: false
